[Unit]
Description=Twitter's twemproxy nutcracker

[Service]
Type=simple
User=nobody
Environment="OPTIONS=-c /etc/nutcracker/nutcracker.yml"
EnvironmentFile=-/etc/sysconfig/nutcracker
ExecStart=/usr/sbin/nutcracker $OPTIONS
